/* Target all elements */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: lightgray;
    color: black;
    font-family: Arial,
}

#container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}
    #task-creator { 
    width: 45%;
    padding: 2.5%;
    float: left;
  }

   #task-list {
    width: 45%;
    padding: 2.5%;
    float: right;
        }
      
    #todo-form {
    margin: 20px auto;
    text-align: center;
    }
    
    #todo-list {
    list-style-type: none; 
    padding: 0; 
    margin: 20px auto;
         }

  #todo-input {
    padding: 10px;
    width: 80%;
    margin-right: 10px;
} 
        
#todo-list li {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

   h1 {
    color: darkslateblue;    
    text-align:center; border-block-color: ;
 
}

